
body{
 background-color: #efefef;
}

$container-width: 960px;
$half-width : 50%;

.container{
    position: relative;
    top:20px;
    width: $container-width;
    min-width: $half-width;
    margin:0 auto;
    background-color: purple;
    color: white;

    // 아래 float때문에 컨테이너의 높이가 0이 됨.
    overflow: hidden;

    display: flex;
    // 자식요소를 행방향 배치 + 수직방향으로는 중앙에 오게끔
    align-items: center;

    .cover{
        background-color: orange;
        float:left;
        width: 60%;

        img{
            width: 100%;

            // https://mygumi.tistory.com/368 : 이미지 아래가 비는 상황 발생 => vertical-align은 inline요소 간 세로 정렬을 위해 사용
            vertical-align: top;
        }
    }
    
    .contents{
        float:left;
        width: 40%;
        align-items: center;
        text-align: center;
        

        span{
            margin: 5px 0;
            font-size: 0.75rem;
            color:rgb(196, 196, 196);
            
        }

        h1{
            margin-top: 5px;
            margin-bottom:15px;
            font-size: 1.8rem;
            font-weight: 600;
        }

        p{
            font-size:0.8rem;
            padding: 1rem;
            opacity: 0.7;
            letter-spacing: 0.1px;
        }
    }
    
}


