
body{
 background-color: #efefef;
}

$container-max-width: 960px; 
$min-width : 25%;

.container{
    position: relative;
    top:20px;

    // max-width는 최대 크기를 지정. 부여크기보다 작아질 수 있기에 많이 쓰임
    max-width: $container-max-width;
    margin:0 auto;
    background-color: purple;
    color: white;

    // 아래 float때문에 컨테이너의 높이가 0이 됨.
    overflow: hidden;

    display: flex;
    // 자식요소를 행방향 배치 + 수직방향으로는 중앙에 오게끔
    align-items: center;

    .cover{
        background-color: orange;
        float:left;
        width: 60%;

        img{
            width: 100%;

            // https://mygumi.tistory.com/368 : 이미지 아래가 비는 상황 발생 => vertical-align은 inline요소 간 세로 정렬을 위해 사용
            vertical-align: top;
            
        }
    }
    
    .contents{
        float:left;
        width: 40%;
        align-items: center;
        text-align: center;
        font-family: inherit;
        

        span{
            margin: 5px 0;
            font-size: 0.75rem;
            color:rgb(196, 196, 196);
            
        }

        h1{
            margin-top: 5px;
            margin-bottom:15px;
            font-size: 1.8rem;
            font-weight: 600;
        }

        p{
            font-size:0.8rem;
            padding: 1rem;
            opacity: 0.7;
            letter-spacing: 0.1px;
        }
    }
    
}


@media screen and (max-width:960px) {
    
    .container{
        flex-direction: column;

        .cover{
            position: relative;
            float: none;
            width: 100%;

        }

        .contents{
            position: absolute;
            bottom:0;
            right:0;
            background-color: purple;
            float:none;
            width: 60%;
            padding: 1px 0;
            z-index:10;
            margin-right: 10px;
            margin-bottom: 10px;
            padding-right: 20px;
            text-align: right;

            span{
                display: block;
                margin-top: 10px;
                font-size: 0.75rem;
                color:rgb(196, 196, 196);
            }

            p{
                margin-right :0;
                padding-right: 0;
            }

            h1{
                margin-right :0;
            }
        }
    }

}